@charset "UTF-8";
/* CSS Document */

* {
    font-family: 'Cabin', Arial, Helvetica, sans-serif;
    color: #313131;
}

.hidden {
    display: none;
}

body {
    background: #f7f7f7;
    text-align: center;
}

#container {
    width: 428px;
    margin: 0 auto;
}

#mainContent {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

article {
    grid-column: 1/-1;
    margin-bottom: 20px;
    border: 2px solid #333;
    background: #efefef;
    border-radius: 10px;
    letter-spacing: 0.5px;
}

article:last-child {
    margin-bottom: 0;
}

article#article-1 {
    background-color: #cde7aa;
    border-color: #606f4b;
}

article#article-2 {
    background-color: #dae6ff;
    border-color: #5389eb;
}

article#article-3 {
    background-color: #e9e9e9;
    border-color: #6f6d6d;
}

article#article-4 {
    background-color: #a2ced3;
    border-color: #1e717b;
}

article#article-5 {
    background-color: #ffe5da;
    border-color: #e39b7c;
}

article#article-6 {
    background-color: #c6bbff;
    border-color: #575273;
}

article#article-7 {
    background-color: #e7d1cc;
    border-color: #d98d7c;
}

article#article-8 {
    background-color: #d9c7a1;
    border-color: #906427;
}

article#article-9 {
    background-color: #cdeced;
    border-color: #147073;
}

article h2 {
    font-weight: 800;
    font-size: 1.3em;
}

article .specialTitle {
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-weight: 700;
    color: #fb7400;
    text-shadow: 1.3px 1.3px #773600;
}

article img {
    width: 100%;
}

article p {
    padding: 20px;
    margin: 0;
    line-height: 1.5em;
    font-size: 1.1em;
}

article p #textGreen,
article p #textRed,
article p #textOrange {
    letter-spacing: 2px;
    font-weight: 600;
}

article p #textGreen {
    color: green;
}

article p #textRed {
    color: red;
}

article p #textOrange {
    color: orange;
}